<section class="abo hell">
  <div class="container">
    <h2 class="my-5">About Us</h2>

    <div class="row about-content">
      <div class="col-md-6 pt-2">
        <h3>About Blaban</h3>
        <p>
          Established in 2021 , Alexandria, Blaban <br />
          began as a small factory specializing in <br />
          traditional Egyptian desserts such as rice <br />
          pudding, couscous, Om Ali, and ice cream. <br />
          Blaban revolutionized the market with its <br />
          innovative product, Ashtouta, which quickly <br />
          became a bestseller and drove rapid <br />
          growth.
        </p>
      </div>
      <div class="col-md-6 pt-4">
        <div class="img">
          <img src="/Images/bl.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Commitment mt-5 position-relative text-center my-5">
  <section
    class="commitment-quality d-flex flex-column justify-content-center align-items-center"
  >
    <div class="container mt-5">
      <h2 class="section-title">Commitment to Quality</h2>

      <div class="quality-content">
        <ul class="quality-list">
          <li>
            Blaban operates under a robust Quality Assurance Department to
            ensure consistent precision, and excellence.
            <p class="expertise-note">
              This focus is guided by the expertise of<br />
              Dr. Moamen Ammar, whose veterinary background emphasizes attention
              to detail.
            </p>
          </li>
        </ul>
      </div>

      <div class="cta-section mt-5">
        <button class="cta-button">See More About Signature Product</button>
      </div>
    </div>
  </section>
</section>

<section class="Numbers">
  <div class="container text-white">
    <div class="row g-0">
      <div
        class="col-md-5 p-3 p-lg-5 d-flex flex-column justify-content-center p-0"
      >
        <h3>Blaban in Numbers</h3>
        <p>2021: 22 branches across Egypt.</p>
        <p>2023: 53 branches (18 in Upper Egypt, 3 in KSA).</p>
        <p>
          2024: 87 branches in Egypt, 30 in KSA, and new branches in Oman,
          Qatar, Libya, Jordan, and UAE.
        </p>
        <p>
          2025: Expanding to Morocco, Kuwait, Bahrain, Iraq, Europe, and the
          USA.
        </p>
      </div>

      <div class="col-md-7">
        <div class="IM">
          <img src="/Images/beg.jpg" class="img-fluid" alt="" />
        </div>
        <div class="row g-0">
          <div class="col-md-6">
            <img src="/Images/bksa.webp" class="img-fluid" alt="" />
          </div>
          <div class="col-md-6">
            <img src="/Images/buae.jpg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
