/* You can add global styles to this file, and also import other style files */
*{
        font-family: "ADLaM Display", system-ui;
 text-decoration: none;
 list-style: none;
}

.hell{
       margin-top: 150px;
}